body {
  margin: 0;
  background-color: #f1f1f1;
}


.header {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  background-color: #100e70;
}


.logo {
  height: 90px;
}


.titulo {
  font-family: 'Oswald', sans-serif;
  font-size: 44px;
  color: white;
  letter-spacing: 4px;
  margin-left: 15px; 
  text-transform: uppercase;
}

.menu a {
  color: white;
  font-size: 30px;
  margin: 0 16px;
  letter-spacing: 1px;
  font-weight: bold;
  text-decoration: none;
}


.imagenes {
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.imagenes img {
  max-width: 600px;
  width: 100%;
  height: auto;
}


.iconos {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 20px;
}

.iconos img {
  width: 100px;
  height: auto;
}


.footer-bg {
  background-color: #BC1215;
  width: 100%;
}

.redes {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 9px 10px;   
  height: auto;       
}



.redes span {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  margin-right: 12px;
}  



  .redes-iconos {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

.redes-iconos img {
  width: 50px;     
  height: auto;
}

.redes-iconos a {
  background-color: #BC1215;
  padding: 6px;
  border-radius: 50%;
}



.redes-iconos img:hover {
  transform: scale(1.1);
}